{% extends "base.html" %} {% load static %} {% block header_content %}
{{block.super }}
<head>
  <title>Welcome to NASA Get</title>
</head>
<body>
  <main>
    <vstack spacing="m">
      <vstack spacing="s" stretch="" align-x="center" align-y="center">
        <h1>Welcome to NASA Get!</h1>
        <p>
          Instruction about what to do with the input field <b>Placeholder</b>
        </p>
      </vstack>
      <spacer></spacer>
      <vstack spacing="l">
        <p>test</p>
      </vstack>
    </vstack>
  </main>
</body>
{% endblock header_content %}
