{% extends "base.html" %} {% load static %} {% block header_content %}
{{block.super }}
<head>
  <title>Welcome to NASA Get</title>
</head>
<body>
  <main>
    <vstack spacing="m">
      <vstack spacing="s" stretch="" align-x="center" align-y="center">
        <h1>Welcome to NASA Get!</h1>
        <p>
          Instruction about what to do with the input field <b>Placeholder</b>
        </p>
      </vstack>
      <spacer></spacer>
      <vstack spacing="l">
        <vstack spacing="xs">
          <aside class="pa-s">
            <vstack>
              <form action="/home/addkey/" method="POST">
                {% csrf_token %}
                <vstack spacing="s">
                  <vstack>
                    {{form}}
                    <button type="submit" name="button">Save</button>
                  </vstack>
                </vstack>
              </form>
            </vstack>
          </aside>
        </vstack>
      </vstack>
    </vstack>
  </main>
</body>
{% endblock header_content %}
